#navbar{
    color: white;
    height: 45px !important;
    border-bottom: 1px solid white;
}

#editor-section{
    
    background: red;
    padding-left: 10px;
    padding-top: 10px;
}#editor-text{
    height: calc(100vh - 60px)  !important;
    
}#editor-text textarea{
    color: whitesmoke;
}
